*{
    margin: 0%;
    padding: 0%;
}

nav{
    width: 100vw;
    height: 8vh;
    background-color: #76a7ac;
}

.logo{
    width: 30vw;
    height: 8vh;
    float: left;
    background-size: contain;
    background-image: url("https://www.leagueoflegends.com/static/logo-1200-589b3ef693ce8a750fa4b4704f1e61f2.png");
    background-repeat: no-repeat;
    background-position: left;
}

.menu{
    padding-top: 3vh;
    width: 70vw;
    height: 8vh;
    float: left;
}

.menu li{
    float: left;
    list-style: none;
}

.menu li a{
    display: block;
    padding-left: 10vh;
    color: #05100f;
    text-decoration: none;
}

.foto{
    width: 100vw;
    height: 92vh;
    background-color: #05100f;
    background-image: url("https://64.media.tumblr.com/57d552d7833fe5c28adbca7755beaefd/f92601ff2824b849-ca/s540x810/19f270b06ec9e07c07677a001a282e8f8e2f2a72.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

section{
    width: 100vw;
    height: 92vh;
}

#lore .card{
    width: 18vw;
    height: 50vh;
}

#lore div{
    margin-left: 10%;
    margin-right: 5%;
    float: left;
}

