*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100vw;
    height: 100vh;
}

nav{
    width: 100vw;
    height: 10vh;
}

.logo{
    width: 30vw;
    height: 8vh;
    background-image: url("https://www.leagueoflegends.com/static/logo-1200-589b3ef693ce8a750fa4b4704f1e61f2.png");
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

#imagen{
    width: 100vw;
    height: 90vh;
    background-color: #05100f;
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Senna_0.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div .card{
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
    float: left;
}

#skins{
    width: 100%;
    height: 90%;
}

#skins .carousel{
    height: auto; 
    width: auto; 
    max-width: 100vw; 
    max-height: 90vh;
}

#skins .carousel-inner .carousel-item img{
    height: auto; 
    width: auto; 
    max-width: 100vw; 
    max-height: 90vh;
}

.accordion-body div{
    width: auto;
    max-width: 50vw;
    height: auto;
    max-height: 90vh;
    float: left;
    text-align: justify;
}

.botones{
    float: left;
    text-align: center;
}

.video{
    width: auto;
    max-width: 40vw;
    height: auto;
    max-height: 30vh;
}